body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 50px;
  row-gap: 20px;
}

/* style the outer card set up */
.card {
  border-radius: 15px;
  border: 2px solid black;
  width: 256px;
  height: 460px;
}

/* style the inner contents of the card */
.card-content img {
  width: 250px;
  height: 300px;
}

.card-content h2,
.card-content h3 {
  margin: 0.5rem 0;
  min-height: 2.5em;
}

.Header-class {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 80px;
}

.Header-class img {
  height: 300px;
}